.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.container-principal {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-width: 550px; 
  
}

.input-nova-tarefa {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding:10px;
  background-color: #8cc0f7;


  width: 50%;
  align-items: center;
}

.container-lista {
  display: flex;
  flex-direction:column;
  align-items: center;
  gap:4px;
  padding:10px;
  width: 100%;

}

.container-tarefa {
  font-weight:bold;

  border-radius: 10px;
  border: 1px solid black;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  margin-bottom:10px;
  padding:5px;
  gap:5px;
}
 
/* .container-titulo {
  width: 100%;  
  height: 100%;
  flex-direction: row;
  background-color: rgb(210, 235, 248);
  border-radius: 5px;
  padding: 5px;  
} */
.container-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-tarefa-finalizada {
  font-weight:bold;
  border-radius: 10px;
  border: 1px solid rgb(192, 61, 61);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(192, 61, 61);

  width: 50%;
  margin-bottom:10px;
  padding:5px;
  gap:5px;
}
 

button {
  height: 30px;

  border-radius: 5px;
  border:1px solid rgb(50, 161, 189);;
  color: white;
  background-color: rgb(50, 161, 189);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
